/* *********************************** */
/* HEADER */
/* *********************************** */

.header {
  /* Because we want header to be sticky later */
  height: 9.6rem;
  position: relative;

}

/* *********************************** */
/* NAVIGATION */
/* *********************************** */

.navigation-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4.8rem 1rem 4.8rem;
  background-color: #ffffff;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #626a65;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.1875rem 0.3125rem;
  transition: all 0.3s;

  position: relative;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ec9a37;
}

.main-nav-menu:link,
.main-nav-menu:visited {
  text-decoration: none;
  color: #626a65;
  transition: all 0.3s;
}

.main-nav-menu:hover,
.main-nav-menu:active {
  color: #ec9a37;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ec9a37;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s;
}

.main-nav-link:hover::after {
  transform: scaleX(1);
}

.icon-nav {
  height: 4.8rem;
  width: 4.8rem;
}

/* *********************************** */
/* ADITIONAL NAVIGATION */
/* *********************************** */

.btn-additional-nav {
  border: none;
  background: none;
  cursor: pointer;
}

.icon-additional-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #626a65;
  transition: all 0.3s;
}

.icon-additional-nav:hover {
  color: #ec9a37;
}

.icon-additional-nav[name="close-outline"] {
  display: none;
}

.additional-nav {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.5s ease-in;

  z-index: 2;
}

.additional-nav-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}


.additional-nav-open .icon-additional-nav[name="menu-outline"] {
  display: none;
}

.additional-nav-open .icon-additional-nav[name="close-outline"] {
  display: block;
}

.additional-nav--links {
  display: flex;
  gap: 4.8rem;
  padding: 3.2rem 4.8rem 0 9.6rem;
  background-color: #f0f0f0;
}

.mountain-contour--nav-top {
  display: block;
  margin-top: -2px;
  margin-left: -6px;
}

/* *********************************** */
/* MOBILE */
/* *********************************** */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #626a65;
  transition: all 0.3s;
}

.icon-mobile-nav:hover {
  color: #ec9a37;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 9999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* *********************************** */
/* HERO SECTION */
/* *********************************** */

.section-hero {
  padding: 2.4rem 0 0 0;
}

.hero-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  transform: translate(3%, -60%);
  z-index: 3;
}

.heading-primary--first-word {
  color: #ec9a37;
}

.svg-heading-primary {
  font-size: 8rem;
}

.svg-text-heading-primary {
  stroke: #ffffff;
}

.hero-img-box {
  background-color: #9dc7c7;
}

.hero-img {
  width: 100%;
  opacity: 0.8;
}

.mountain-contour--hero {
  width: 100%;
  position: absolute;
  bottom: 0%;

  overflow: hidden;
}

/* *********************************** */
/* CTA SECTION */
/* *********************************** */

.section-cta-multiple {
  padding: 9.6rem 0;
}

.cta-item {
  background-color: #9dc7c7;
  grid-column: span 2;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.cta-item-image {
  opacity: 1;
  transition: all 0.6s;
}

.svg--cta {
  font-size: 3.6rem;
}

.svg-text--cta {
  stroke: #fff;
}

.cta-item img {
  opacity: 0.65;
  width: 100%;
  position: relative;
}

.cta-item-image-text {
  position: absolute;
  top: 5%;
  left: 8%;
  text-transform: uppercase;
  opacity: 1;

  z-index: 1;
}

.cta-item:hover > .cta-item-details {
  opacity: 1;
}

.cta-item:hover > .cta-item-image {
  opacity: 0.2;
}

.cta-item-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.6s;
}

.cta-item-details-text {
  font-size: 3.6rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2rem;
}

.cta-item:nth-of-type(4) {
  grid-column: 2 / span 2;
  justify-self: right;
}

.cta-item:nth-of-type(5) {
  grid-column: 4 / span 2;
  justify-self: left;
}

/* *********************************** */
/* PRICE SECTION */
/* *********************************** */

.section-price {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 100%;
}

.pricing-plan--as-you-go {
  justify-self: end;
  padding: 5rem;
}

.pricing-plan--membership {
  justify-self: start;
  background-color: #626a65;
  color: #ffffff;
  padding: 5rem;
}

.plan-header {
  font-size: 3.6rem;
  color: #ec9a37;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
}

.svg--plan {
  font-size: 3.6rem;
}

.svg-text--plan {
  stroke: #ec9a37;
}

.list-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8rem;
  margin-left: 2.4rem;
  position: relative;
}

.list::after {
  content: " ";
  position: absolute;
  top: 0%;
  left: -5%;
  background-color: #ffffff;
  width: 2px;
  height: 100%;
}

.list--as-you-go.list::after {
  background-color: #626a65;
}

.list--as-you-go .list-item {
  width: 45rem;
}

.list--membership .list-item {
  width: 20rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

/* *********************************** */
/* VIDEO SECTION */
/* *********************************** */

.video-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 30.6rem 0 4.8rem 0;
}

.video-cover {
  width: 100%;
  padding: 0 3.2rem;
}

.video-wrapper::before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid #ec9a37;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}

.video-wrapper {
  position: relative;
}

.video-wrapper::after {
  content: " ";
  position: absolute;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  border: 2px solid #ec9a37;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}

.video-wrapper:hover::after {
  border: 15px solid transparent;
  background-color: rgb(236, 154, 55, 0.2);
  cursor: pointer;
}

.mountain-contour--video {
  position: absolute;
  top: 0;
  overflow: hidden;
  transform: translateY(-30%);
}

.white-mountain {
  transform: translateY(-10%);
}

/* *********************************** */
/* TESTIMONIALS SECTION */
/* *********************************** */

.testimonials-section {
  margin-top: 9.6rem;
  position: relative;
}

.testimonials-box {
  background-color: #f0f0f0;
  position: relative;
  display: flex;
}

.testimonial {
  padding: 9.6rem 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.stars {
  align-self: center;
}

.stars ion-icon {
  color: #9dc7c7;
  height: 2rem;
  width: 2rem;
}

.testimonial-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #626a65;
  line-height: 1.8;
  text-transform: uppercase;
}

.testimonial-name {
  align-self: flex-end;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-round {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #9dc7c7;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.btn-round:hover {
  background-color: #9dc7c7;
}

.btn-round:hover > .btn-icon {
  stroke: #ffffff;
}

.btn-round--left {
  left: 3%;
  top: 45%;
  transform: translateY(-50%);
}

.btn-round--right {
  right: 3%;
  top: 45%;
  transform: translateY(-50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #9dc7c7;
  transition: all 0.3s;
}

.mountain-contour--testimonials {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

/* *********************************** */
/* SIGN-UP SECTION */
/* *********************************** */

.container--sign-up {
  padding: 2.4rem 16rem 9.6rem 16rem;
}

.sign-up-section {
  margin: 9.6rem 0;
}

.sign-up-title {
  text-align: center;
  color: #ec9a37;
  margin-bottom: 2.4rem;
}

.svg--sign-up {
  font-size: 3.6rem;
}

.svg-text--sign-up {
  stroke: #ec9a37;
}

.sign-up-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.sign-up-form input,
.sign-up-form select {
  width: 100%;
  padding: 2.4rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #626a65;
  background-color: #f0f0f0;
}

.sign-up-form input::placeholder {
  font-weight: 500;
  text-transform: uppercase;
  color: #626a65;
  padding-left: 4.8rem;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}

.btn--sign-up {
  background-color: #ffffff;
  border: 1px #626a65 solid;
  color: #626a65;
  padding: 2.4rem;
}

.btn--sign-up:hover {
  padding: 2.4rem 2rem 2.4rem 2.8rem;
  cursor: pointer;
}

/* *********************************** */
/* FOOTER*/
/* *********************************** */

.footer {
  padding: 3.2rem 0;
  background-color: #f0f0f0;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 4.8rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 3.2rem;
}

.footer-col-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.footer-col-details {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

.social-links {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  list-style: none;
}

.social-icon {
  height: 3.2rem;
  width: 3.2rem;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #9dc7c7;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #ec9a37;
}
